{% extends "layout.html" %}
{% load bootstrap4 %}

{% block title_tag %}Forgot Your Password? | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="bounds">
    <div class="grid-90 centered">
        <h1>Forgot your password?</h1>
        <p>Enter the email address that's associated with your account and we'll send you instructions on how you can change your password.</p>
    
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Send me instructions!" class="btn btn-default">
        </form>
    </div>    
</div>
{% endblock %}